@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Lobster+Two&family=Montserrat&display=swap');

:root {
    
    --clr-black: #111;
    --clr-white: #eee;
    --clr-red: #660066;
    --clr-red-lt: #ffccff;
    --clr-blue: #000066;
    --clr-blue-lt: #ccccff;
    --clr-purple: #cc99ff;

    --font-heading: "Lobster Two", "Montserrat", monospace;
    --font-text: "Montserrat", sans-serif;
    --font-accent: "Courier Prime", "Courier New";

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--clr-blue);
    color: var(--clr-black);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    color: var(--clr-purple);
}

p {
    font-family: var(--font-text);
}

a, li {
    font-family: var(--font-accent);
    color: var(--clr-white)

}